*{
Margin: 0;
padding: 0;
box-sizing: border-box;
}

/* primary pallete selected */

:root {
    --primary: rgb(10, 9, 9);
    --secondary: rgb(71, 63, 60);
    --tertiary: rgba(14, 46, 66, 0.616);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(104, 88, 67);
}

/* primary font */

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* background formatting */

html {
    background: url(https://wallpapercave.com/wp/wp8460950.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header formatting with name and 3 topics */

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(236, 237, 238, 0.4);
}



header h1 {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    color: rgb(249, 249, 250);
}

/* nav section linked to the main-part */

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--tertiary);
    margin-right: 10px;
    background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}



nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
    box-shadow: inset 00 2px var(--primary);
}

/* end of nav formatting */
/* division banner made as a visual separator of the index above and the principal information */
.division-banner {
    background: rgb(3, 30, 73);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 10vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

/* avatar image formatting */

#aboutmejpg {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    margin-right: 40%;
    margin-top: 0%;
    border-radius: 50%;
}


/* main-part formatting, general structure for the site */


.main-part p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    background-color: rgba(181, 178, 184, 0.616);
    border-radius: 0px;
}





.main-part {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}



main {
    margin-top: 20px;
    margin-bottom: 45px;
}



.big-square{
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.main-part>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
}

.main-part>article {
    flex: 0 0 77%;
}

.main-part p {
    margin-bottom: 30px;
}

.content-box-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5%;
}



.content-box-small {
    border: 5px solid var(--secondary);
    background-color: var(--tertiary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    border-radius: 5%;
}

span {
color:rgb(15, 15, 15)
}

/* formatting each project box, keeping in mind that the first project should be in evidence even when page is shrunk */

.content-box-small:first-child {
    min-height: 400px;
    flex-basis: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    color: var(--secondary);
    border-radius: 2%;
    text-shadow: 1px 1px 2px rgb(253, 250, 250), 0 0 25px white, 0 0 5px rgb(221, 221, 228);
}



.star-anise {
    background-image: url(https://i1.wp.com/dhcrop.bsmrau.net/wp-content/uploads/2016/08/star-anise.jpg?zoom=3&resize=400%2C280);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondary);
    text-shadow: 1px 1px 2px rgb(243, 239, 239), 0 0 25px white, 0 0 5px rgb(244, 244, 245);
}



.Cardamom {
    background-image: url(https://resize.hswstatic.com/w_907/gif/cardamom-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondary);
    text-shadow: 1px 1px 2px rgb(252, 247, 247), 0 0 25px white, 0 0 5px rgb(236, 236, 241);
}



.Sage {
    background-image: url(https://www.publicdomainpictures.net/pictures/180000/velka/culinary-sage-quotsalvia-officinalisquot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondary);
    text-shadow: 1px 1px 2px rgb(235, 232, 232), 0 0 25px white, 0 0 5px rgb(234, 234, 238);
}




.Cinnamon {
    background-image: url(https://www.besthealthmag.ca/wp-content/uploads/2019/03/Benefits-of-Cinnamon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondary);
    text-shadow: 1px 1px 2px rgb(243, 234, 234), 0 0 25px white, 0 0 5px rgb(233, 233, 238);
}





.content-box-small:hover {
    background-color: rgba(0, 0, 0, 0.3);
}




.content-box-small div {
    background-color: var(--secondary);
    padding: 8px 10px;
}





.content-box-small h3 {
    font-size: 1.6rem;
}


/* formatting the contact me section */


#contact-me address a {
    color: var(--primary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}





#contact-me address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
    box-shadow: inset 00 2px var(--secondary);
}

/* end of contact me */
/* media quiries so the page behaves appropriately when the dimensions are messed with */


@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }


    .main-part {
        margin: 25px 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }


    #aboutmejpg {
        margin-right: 0%
    }


    .main-part p {
        margin-left: 0%;
    }


    .main-part>h2,
    .page-section>div {
        flex: 0 0 100%;
    }


    .main-part>h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}




@media screen and (max-width: 768px) {

    .main-part,
    .main-part:first-child {
        flex-basis: 100%;
    }


    .main-part:first-child {
        min-height: 270px;
    }


    .division-banner {
        justify-content: center;
        text-align: center;
    }


    .contact-me address {
        flex-direction: row;
        align-items: flex-start;
    }




}

