*{
Margin: 0;
padding: 0;
box-sizing: border-box;
}



:root {
    --primary: rgb(10, 9, 9);
    --secondary: rgb(71, 63, 60);
    --tertiary: rgba(14, 46, 66, 0.616);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(104, 88, 67);
}



body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary)
}



html {
    background: url(https://wallpaperaccess.com/full/4285850.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(3, 32, 70, 0.4);
}



header h1 {
    color: var(--primary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    color: rgb(249, 249, 250);
}



nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--tertiary);
    margin-right: 10px;
    background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}



nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
    box-shadow: inset 00 2px var(--primary);
}



.division-banner {
    background: rgb(3, 30, 73);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 10vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}



#aboutmejpg {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    margin-right: 44%;
    margin-top: 2.7%;
}



.main-part {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}



main {
    margin-top: 20px;
    margin-bottom: 45px;
}



.big-square{
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.main-part h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
}

.main-part article {
    flex: 0 0 77%;
}

.main-part p {
    margin-bottom: 30px;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.horiseon-content-box {
    border: 5px solid var(--secondary);
    background-color: var(--tertiary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

span {
color:black
}